body {
  color: #444444 !important;
  background-color: #f9f9f9 !important;
}

.fouc-bar-color {
  background-color: #f1f1f1dd !important;
}

.fouc-text-color {
  color: #1976d2 !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #ffffff !important;
    background-color: #161616 !important;
  }

  .fouc-bar-color {
    background-color: #222222dd !important;
  }

  .fouc-text-color {
    color: #ffffff !important;
  }
}
