html,body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* スクロールバー非表示 */
html {
  scrollbar-width: none; /*Firefox*/
  -ms-overflow-style: none; /*IE*/
}

html::-webkit-scrollbar {
  display: none; /*Chrome、Safari、Edge*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: black;
    color: white;
  }
}
