body {
  color: #334155 !important; /* grey700 */
  background-color: #e2e8f0 !important; /* grey200 */
}

.fouc-bar-color {
  background-color: #cbd5e1 !important; /* grey300 */
}

.fouc-text-color {
  color: #334155 !important; /* grey700 */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #f1f5f9 !important; /* grey100 */
    background-color: #0f172a !important; /* grey900 */
  }

  .fouc-bar-color {
    background-color: #1e293b !important; /* grey800 */
  }

  .fouc-text-color {
    color: #f1f5f9 !important; /* grey100 */
  }
}
