.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 64px;
  padding-bottom: 80px;
  min-height: 100vh;
  /* height: calc(100vh - 8rem); */
  opacity: .999999; /* スタッキングコンテキストを生成するため */
}

.footer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.footer a {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,.title a:focus,.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 4rem;
  line-height: 1.15;
}

.title,.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.code {
  padding: .75rem;
  border-radius: 5px;
  background: #fafafa;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  max-width: 300px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  color: inherit;
  text-align: left;
  text-decoration: none;
  transition: color .15s ease, border-color .15s ease;
}

.card:hover,.card:focus,.card:active {
  border-color: #0070f3;
  color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  margin-left: .5rem;
  height: 1em;
}

@media (max-width: 600px) {
  .main {
    padding-top: 56px;
    padding-bottom: 72px;
  }

  .grid {
    flex-direction: column;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .card,.footer {
    border-color: #222222;
  }
  .code {
    background: #111111;
  }
  .logo img {
    filter: invert(1);
  }
}
